* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

body {
  font-size: 100%;
  list-style-type: none;
}

a {
  text-decoration: none;
}
